/* Define CSS Variables */
:root {
  --primary-color: #672280;
  --secondary-color: #A626D3;
  --text-color: #ffffff;
  --spacing: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(90deg, var(--primary-color) 1.18%, var(--secondary-color) 100%);
  padding: var(--spacing) calc(2 * var(--spacing));
  gap: calc(0.5 * var(--spacing));
  color: var(--text-color);
}

header img {
  width: clamp(2rem, 5vw, 3rem);
  height: auto;
}

header h1 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  letter-spacing: -1px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__button {
  grid-column: 1 / -1;
  color: var(--text-color);
  background: linear-gradient(90deg, var(--primary-color) 1.18%, var(--secondary-color) 100%);
}
  


/* Medium screens (Tablets and small desktops) */
@media (min-width: 768px) {
  :root {
    --spacing: 1.5rem; /* Increase spacing for larger screens */
  }

  header {
    padding: var(--spacing);
  }

  header h1 {
    letter-spacing: normal; /* Reset letter-spacing for larger text */
  }
}


/* Large screens (Desktops and larger) */
@media (min-width: 1220px) {
  :root {
    --spacing: 2rem; /* Increase spacing for larger screens */
  }

  header {
    padding: var(--spacing);
  }

  header h1 {
    letter-spacing: normal; /* Reset letter-spacing for larger text */
  }
}
