/* Define CSS Variables */
:root {
  --primary-color: #672280;
  --secondary-color: #A626D3;
  --text-color: #ffffff;
  --spacing: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  padding: var(--spacing) calc(2 * var(--spacing));
  gap: calc(0.5 * var(--spacing));
  color: var(--text-color);
  /* min-height: 5rem; */
}

header img {
  width: 2rem;
  height: auto;
}

header h1 {
  font-size: 1rem;
  letter-spacing: -1px;
}


/* Medium screens (Tablets and small desktops) */
@media (min-width: 768px) {
  :root {
    --spacing: 1.5rem; /* Increase spacing for larger screens */
  }

  header {
    padding: var(--spacing);
  }

  header img {
    width: 2.5rem;
  }

  header h1 {
    font-size: 1.25rem;
    letter-spacing: normal; /* Reset letter-spacing for larger text */
  }
}


/* Large screens (Desktops and larger) */
@media (min-width: 1220px) {
  :root {
    --spacing: 2rem; /* Increase spacing for larger screens */
  }

  header {
    padding: var(--spacing);
  }

  header img {
    width: 3rem;
  }

  header h1 {
    font-size: 1.5rem;
    letter-spacing: normal; /* Reset letter-spacing for larger text */
  }
}
